



.bg-greenish{
    background-color: rgb(36,58,81);
}
.search-input:focus {
  background-color: rgb(36,58,81);
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}
.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
