
.footer-with-bg {
   
    position: relative;
    
    background-image: url('/public/images/bgimg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
    z-index: 1; 
}

/* The Overlay */
.footer-with-bg::before {
    
    content: "";
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    background-color:  rgba(3,13,23,0.8);
    z-index: -1;
}


.footer-with-bg a {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.orangehover:hover{
    color:#e3a22e;
}